@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Shadows+Into+Light&display=swap');

$background-dark : #161616;
$star-gold : #ED9615;
$form-bg : #1F1F1F;
$placeholder : #4D4D4D;

$font-primary : 'Inter', sans-serif;
$font-brand :'Shadows Into Light', cursive;


