.favourite-section {
  color: #fff;
  margin: 2rem 0;
  display: grid;
  column-gap: 24px;
  row-gap: 48px;
  grid-template-columns: repeat(auto-fit, minmax(300px, calc(25% - 24px)));
  .fav-movie-item {
    color: #fff;
  }
  .remove-fav-btn {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 1.8rem;
    display: block;
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #fff;
    padding: .6rem 2rem;
    border-radius: 6px;
    &:hover{
      transform: scale(1.09);
    }
    span{
      margin-left: .6rem;
      align-self: flex-end;
    }
  }
}
