.movie-item {
  // height: 250px;

  display: flex;
  justify-content: center;
  flex-direction: column;
  background: transparent;
  max-width: 100%;
  // height: 420px;
  max-height: auto;
  .image-poster {
    max-width: 100%;
    max-height: 100%;
    border: 1px solid #fff;
  }
  .movie-details{
     margin: 6px 0;
     display: flex;
     justify-content: space-between;
  }
  .title {
    max-width: 100%;
   //  border: 1px solid red;
  }
  .poster-image {
    justify-self: start;
    //  max-width: 294px
    height: 420px;
    object-fit: contain;
    border: 1px solid #fff;
  }
  cursor: pointer;
  &:hover {
    transform: scale(1.09);
  }
}
