@import "../../styles/basic.scss";

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px 0;
}
.brand-container {
  display: flex;
  align-items: center;
}
.brand {
//   font-family: $font-brand;
  color: #fff;
  font-size: 1.125rem;
  margin-left: 12px;
}
.right-side {
  display: flex;
  .home-link,.fav-link {
    color: #fff;
    font-size: 1.125rem;
   //  font-weight: 500;
    &:hover {
      // color: #dec79d;
      transform: scale(1.04);
    }
  }
  .home-link{
    margin-right: 2rem;
  }
  .fav-link{
    span{
      margin-left: .3rem;
    }
    display: flex;
    align-items: center;
  }
}
