@import "../src/styles/basic.scss";


*,*::after,*::before{
  background-color: $background-dark;
  // color: #fff;
  font-family: $font-primary;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.21s linear;
}
.container{
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1600px;
  // border: 1px solid #fff;
}
a{
  text-decoration: none;
}