@import '../../styles/basic.scss';
button{
   display: none;
}
.search-form{
   display: flex;
   align-self: center;
   background-color: $form-bg;
   padding: .69rem 2.7rem;
   border-radius: 12px;
   @media (max-width: 575.98px){
      width: 100%;
      padding: .69rem 1rem;
   }
   .search-icon{
      margin-right: 1.3rem;
      color: #fff;
   }
   input{
      // outline: none;
      // appearance: none;
      border: none;
      background: transparent;
      font-size: 1.125rem;
      color: #fff;
      &::placeholder{
         font-size: 1.125rem;
      }
      &:focus{
         outline: none;
         padding: 0 .9rem;
      }
   }

}
